<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Stage" value="Debug"/>
  </appSettings>
  <connectionStrings>
    <add name="Name" connectionString="Debug Connection string" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>